<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<nav th:fragment="menu">
		<div class="nav-wrapper container">
			<a href="/listar" class="brand-logo">Sistema de Eventos</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/listar">Home</a></li>
				<li><a href="/eventos/form">Adicionar Evento</a></li>
				<li><a href="/cadastro">Cadastro</a></li>
				<li><a href="/contato">Contato</a></li>
				

			</ul>
		</div>
	</nav>
	
</body>
</html>