<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<meta charset="UTF-8">
<title>Eventos</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">
		<h1>Lista de Eventos</h1>
		<table class="highlight">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Local</th>
					<th>Data</th>
					<th>Horário</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="e:${eventos}">
					<td th:text="${e.id}"></td>
					<td><a th:href="@{/{id}(id=${e.id})}"><span
							th:text="${e.nome}"></span></a></td>
					<td th:text="${e.local}"></td>
					<td th:text="${e.data}"></td>
					<td th:text="${e.horario}"></td>
					<td>
					<a th:href="@{/{id}/selecionar(id=${e.id})}"><i class="material-icons">edit</i></a>
					<a th:href="@{/{id}/remover(id=${e.id})}"><i class="material-icons">delete</i></a>
					</td>

				</tr>

			</tbody>

		</table>

	</div>

</body>
</html>